{% extends "base.html" %}
{% load static %}

{% block title %}
Что такое Mind Discipline?
  {% endblock %}

  {% block content %}
  <h1>text</h1>
  <p>texttexttext</p>
  {% endblock %}

  {% block header %}
  <header>
    {% with request.resolver_match.view_name as view_active %}
    <nav class="nav nav-pills nav-justified">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'homepage:enter_screen' %}">
          <img src="{% static 'img/home.png' %}" height="25" alt="home_img">
        </a>
      </nav>
      <a class="nav-item nav-link" href="{% url 'homepage:enter_screen' %}">Вход в Mind Discipline</a>
      <a class="nav-item nav-link" {% if view_active  == 'homepage:about' %}active{% endif %}
        href="{% url 'homepage:about' %}">Что такое Mind Discipline?</a>
    </nav>
    {% endwith %}
  </header>
  {% endblock %}