{% extends "base.html" %}
{% load static %}

{% block title %}Mind Discipline{% endblock %}

{% block header %}
<header>
  {% with request.resolver_match.view_name as view_active %}
  <nav class="nav nav-pills nav-justified">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">   {% comment %}href="{% url 'homepage:code_check_screen' %}" {% endcomment %}
        <img src="{% static 'img/home.png' %}" height="25" alt="home_img">
      </a>
    </nav>
    {% comment %} <a class="nav-link {% if view_active  == 'homepage:WelcomeScreenView' %}active{% endif %}"
      href="{% url 'homepage:WelcomeScreenView' %}">Вход в Mind Discipline</a>
    <a class="nav-link" href="{% url 'homepage:about' %}">Что такое Mind Discipline?</a> {% endcomment %}
  </nav>
  {% endwith %}
</header>
<hr style="height: 5px; color: #f00fc3">
{% endblock %}

{% block content %}
   <a href="{% url 'homepage:phoneauth' %}">Войти в аккаунт или зарегистрировать новый аккаунт</a>  
{% endblock %}


{% comment %} <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Продолжить</button>
</form> {% endcomment %}